<div class="card">
  <div class="card-header">
    <h2 class="card-title">Passenger Edit</h2>
  </div>

  <div class="card-body">
    <form [formRoot]="editForm">
      <div class="form-group">
        <label for="id">ID:</label>
        <input id="id" [formField]="editForm.id" type="number" class="form-control" />
      </div>

      <div class="form-group">
        <label for="firstname">Firstname:</label>
        <input id="firstname" [formField]="editForm.firstName" class="form-control" />
      </div>
      @for (error of editForm.firstName().errors(); track error.kind) {
        <div class="alert alert-danger">{{ error.message }}</div>
      }

      <div class="form-group">
        <label for="name">Lastname:</label>
        <input id="name" [formField]="editForm.name" class="form-control" />
      </div>
      @for (error of editForm.name().errors(); track error.kind) {
        <div class="alert alert-danger">{{ error.message }}</div>
      }

      <div class="form-group">
        <label for="bonusMiles">Bonus Miles:</label>
        <input
          id="bonusMiles"
          [formField]="editForm.bonusMiles"
          type="number"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label for="status">Status:</label>
        <input id="status" [formField]="editForm.passengerStatus" class="form-control" />
      </div>

      <app-adress-form [formField]="editForm.address" />

      <div class="form-group">
        <button
          type="submit"
          [disabled]="!editForm().valid()"
          class="btn btn-default"
        >
          Save
        </button>
        <button
          (click)="passengerResource.reload()"
          class="btn btn-default"
        >
          Reload
        </button>
        <p>Status: {{ passengerResource.status() }}</p>
      </div>
    </form>
  </div>
</div>
